.movie-img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px !important;
  height: 400px !important;
  margin-bottom: 40px;
}

.movie-list {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr;
}
.movie-item {
  margin: 1rem;
}
.movie-content {
  display: flex !important;
  flex-wrap: wrap !important;
}
